/* 

Description: Arquivo CSS da página web Portifólio-Danilo
Version: 1.0



--------------------------------------------
ESTRUTURAÇÃO BASE CSS
--------------------------------------------
**** DECLARAÇÃO DE VARIÁVEIS
**** ESTILOS GERAIS
**** BODY
**** HEADER
**** FOOTER
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA


fundo darkmode: #19232f
fundo info sobre darkmode: #2d3846
fundo footer darkmode: #131a23
textos darkmode: #e4e4e4
borda darkmode: #9fb1c7


*/

/* VARIAVEIS */



/*  GERAL   */

html, body, figure, img, div, section, input, textarea, p, h1, h2, h3, ul, li, a, main, footer, nav{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;

}

/* PÁGINA INICIAL*/

/* BODY  */


/* ESTILIZAÇÃO PARA A VISUALIZAÇÃO DARKMODE */

input:checked ~ main{

    background-color: #19232f;

}

input:checked ~ main .informacoesPerfilProfissional{

    background-color: #2d3846;

}

input:checked ~ main .informacoesContatoPortfolio_descricao{

    color: #fff;

}

input:checked ~ main .informacoesPerfilProfissional section p, input:checked ~ main .informacoesPerfilProfissional section h2, input:checked ~ main .informacoesPerfilProfissional section h3{

    color: #e4e4e4;

}

input:checked ~ main .informaçoesContatoPortfolio_trocarModo span{

    transform: translateX(27px);

}

input:checked ~ footer{

    background-color: #131a23;

}

main{

    transition: all ease-in-out .4s;
    background-color: #d9e2ee;

}

main .container--column{

    padding: 30px;

}

/* CLASSE PARA OCULTAR ELEMENTOS DA PÁGINA*/

.hidden{

    display: none;

}

.container{

    width: 100%;
    max-width: 1050px;
    margin: 0 auto;

}

section{

    transition: all ease-in-out .4s;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #d9e2ee;

}

section h2{

    font-size: 1.3rem;
    margin-bottom: 10px;
    
}

section p{

    font-size: 14px;
    color: #636363;
    line-height: 22px;

}

section ul li{

    margin-bottom: 10px;

}

section ul li p{

    line-height: 22px;

}

section ul li p strong{

    font-weight: 500;
    font-size: 14px;

}


/* COLUNA LADO ESQUERDO */

.informacoesContatoPortifolio_imagem{

    text-align: center;
}

.informacoesContatoPortifolio_imagem img{

    /*  deixando a borda da imagem redonda e definindo que ela será responsiva até uma largura máxima   */
    width: 100%;
    max-width: 160px; 
    border-radius: 100%; /* Somente ficará redonda se imagem for retangular. Alternativa para arredondar borda :metade da largura maxima da image: border-radius: 100px;*/

}

.informacoesContatoPortfolio_descricao{
    
    transition: all ease-in-out .4s;
    text-align: center; /* alinhando texto ao centro da página*/

}

.informacoesContatoPortfolio_descricao h1{

font-size: 1.5rem;   /* definindo tamanho da fonte relativo a tag root(pai) */

}

.informacoesContatoPortfolio_descricao h2{

    font-size: 14px;
    font-weight: normal; /* definindo espessura da fonte */
   
}

.informacoesContatoPortfolio_descricao ul{

    margin-top: 20px;
}

.informacoesContatoPortfolio_descricao ul li{

    
    margin-bottom: 10px;
}

.informacoesContatoPortfolio_descricao ul li a{

    font-size: 14px;
    color: inherit;   /* herdando cor da tag pai */

}

.informaçoesContatoPortfolio_trocarModo {

    margin-top: 30px;


}

.informaçoesContatoPortfolio_trocarModo label{

    width: 50px;
    height: 22px;
    display: block;
    background-color: #3d6394;
    border-radius: 20px;
    padding: 5px;
    margin: 0 auto;
    

}

.informaçoesContatoPortfolio_trocarModo span {

    width: 22px;
    height: 22px;
    display: block;
    background-color: #fff;
    border-radius: 100%;
    transition: all ease-in-out .4s;
    

}

/* COLUNA LADO DIREITO */

.informacoesPerfilProfissional{

    transition: all ease-in-out .4s;
    background-color: #fff;

}

/* SESSÃO EXPERIENCIA */
.informacoesPerfilProfissional_experiencia{

    margin-bottom: 0;
    border: none;

}

/* FOOTER */

footer{

    background-color: #3d6394;
    padding: 30px;
    transition: all ease-in-out .4s;

}
    
footer nav ul li{

    display: inline-block;

}

footer nav ul li a img{

    width: 100%;
    max-width: 20px;
    

}

.redesSociais_lista{

    text-align: center;

}

/* MEDIA QUERY  */

@media screen and (min-width: 768px) {

    main .row{

        display: flex;
        flex-flow: row wrap;

    }

    main .column--direita{

        flex-basis: 64%;

    }

    main .column--esquerda{

        flex-basis: 36%;

    }


}